*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn {
background-color: darkgray;
}

.main-container {
    display: flex;
    flex-direction: row;
}

.weather-container {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

h3 {
    margin-left: 2rem
}


.Five-day-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: 100%;
    gap: 3rem;
    margin-top: 5rem;
    align-content: center;
    padding-bottom: 2rem;
}

.list-group-item {
    display: flex;
    flex-basis: 100%;
}

.current-weather {
    margin-left: 10rem;
}
.current-weather-card {
    font-weight: bolder;
}

.list-group-item {
    background-color: cadetblue;
}

@media screen and (max-width: 769px) {
    .main-container, .weather-container, .Five-day-cards, .current-weather, body {
      flex-direction: column;
      text-align: center;
      display: block;
      margin-left: 0rem;
      align-items: center;
    }
  }
